# pixi environments
.pixi
pixi.lock
*.egg-info

# results 
faultsim_log/
results
experiments/
.*experiment.*/
DEP
ML_RESULTS

# profiles 
classifier_profiles
logs

__pycache__/
__pycache__

.gdb_history/

reg_exps/
classifier_exps/

riscv_gnu_toolchain/
